.App {
  text-align: center;
}

.title {
  font-size: 40px;
  background-color: blueviolet;
}

.boxes {
  background-color: lightgrey;
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px;
}

